* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common */
.container {
    width: 300px;
    height: 100%;
    background: linear-gradient(45deg,#550f44, #c02d7c);
    padding: 20px;
    border-radius: 10px;
    color: #fff;
}
.container h1 {
    text-align: center;
}
.container .element {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px 0 20px;
}

/* bill-amount */
.container .bill-amount-container {
    flex-direction: row;
    align-items: center;
}
label[for=bill-amount] {
    margin-right: 5px;
}
input[id=bill-amount] {
    width: 100%;
    height: 30px;
    padding: 0 5px;
    border-radius: 5px;
    border: none;
    outline: none;
}
input[id=bill-amount]:focus {
    outline: none;
}

/* input style */
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}